useDynLib(Projections)
exportPattern("^[^c_][[:alpha:]]+")
  importFrom("graphics", "matplot", "plot", "symbols", "title")
  importFrom("stats", "cmdscale", "cov", "dist", "lsfit", "prcomp",
             "rnorm", "runif", "sd")
  importFrom("utils", "combn")
import(ggplot2)

import(deldir)
importFrom('geometry','delaunayn')
import(Rcpp)

#importFrom('spdep','gabrielneigh')
#importFrom('FastKNN','k.nearest.neighbors')
#importFrom('pcaPP','cor.fk')
#importFrom('fastICA','fastICA')
#importFrom('MASS','sammon')
#importFrom('tsne','tsne')
#importFrom('vegan','isomap')